div{
    border: 1px;
    border-style: solid;
    margin: 5px;
}

#third p{
    visibility: hidden;
}
#third span p{
    visibility: visible
}
h1{
    visibility: hidden;
}

#second div{
    visibility: hidden;
}

#sixth img{
    visibility: visible;
}
